/* General rules */
.container-fluid {
    height: 100vh;
    width: 100vw;
    font-family: "Raleway", sans-serif;
}

/* Error */
div.container-fluid.error{
    padding-top: 10vh;
    margin-top: 10vh;
    height: 80vh;
    width: 60vw;
    text-align: center;
    border: 3px solid #c0392b;
}
#errCode{
    font-size: 15vh;
}
div.container-fluid.error img{
    width: 8vw;
    height: 16vh;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.actions {
    display: flex;
    justify-content: center;
    max-height: 91px;
}


.actions *{
    z-index: 4;
    visibility: visible;
    opacity: 1;
}

.actions .action{
    padding: 2px;
    padding-bottom: 6px;
    border: none;
    background-color: #64b5f6;
    flex: 1;
    text-align: center;
}

/* Register */
.registerLogin{
    margin-left: auto;
    margin-right: auto;
    height: 50vh;
    width: 60vw;
}

.registerLogin .panel-heading{
    background-color: #3498db;
    border-radius: 0;
    color: white;
    height: 50px;
}

.registerLogin .panel-title{
    font: white;
    text-align: center;
    font-size: 3vh;
}

.registerLogin .login-panel{
    border-radius: 0;
    border: none;
}

.registerLogin .panel-body{
    border: none;
    box-shadow: none;
}

.registerLogin .btn{
    border-radius: 0;
    background-color: #3498db;
    color: white;
}

.registerLogin .switch{
    margin-top: 2vh;
}

/* Navbar */
nav .container-fluid{
    height: 8vh;
}

ul.nav.navbar-nav a:hover {
    background-color: #29A5F1;
    color: #fff;
    height: 8vh;
}

/* Landing View */
.landing {
    text-align: center;
    color: #fff;
    font-family: "Raleway", sans-serif;
    background-image: url('media/images/work1.jpeg');
    /* Create the parallax scrolling effect */
    background-repeat: no-repeat;
    background-size: cover;
}

.landingBar {
    margin-top: 40vh;
    background: rgba(1, 1, 1, 0.8);
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.landing .slogan{
    font-size: 3vh;
}

.landing hr {
    width: 80vw;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border: 1px solid #7f8c8d;
}

.landing .links a:hover{
    text-decoration: none;
    max-width: 100px;
}

/* Dashboard View */
.dashboard{
    margin-top: 10vh;
}

.grid {
    padding-top: 5vh;
    justify-content: space-between;
}

.dashboard .grid .item {
    display: inline-block;
    vertical-align: top; /* BASELINE CORRECCIÓN*/

    max-width: 150px;
    width: 40vw;

    text-align: center;
    background-color: #3498db;
    
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.dashboard .grid .item:hover{
    cursor: pointer;
    background-color: #2980b9;
}

.dashboard .grid .item .icon{
    padding: 8px;
}

.dashboard .grid .item .caption{
    background-color: #fff;
}

.dashboard .grid .item .caption span:hover{
    /*font-size: 2.4vh;*/
    color: #3498db;
}

/* Datasets */
.upload-btn{
    color: #fff;
    margin-top: 10vh;
    height: 10vh;
    background-color: #29A5F1;
    border: none;
}
.upload-btn:hover{
    color: #fff;
    background-color: #18cace;
}

.datasets {
    margin-top: 16vh;
}

.datasets .grid .item:hover{
    cursor: pointer;
    background-color: #2980b9;
}

.datasets .grid .item{
    width: calc(100% * (1/3) - 10px - 1px);
    height: 150px;
    max-height: 150px;
    text-align: center;
    background-color: #3498db;/*#0CB4DA;*/
    flex: 1;
    margin: 0px 20px 0px 0px;
}
.datasets .grid .item .icon{
    margin: 0px 0px 10px 0px;
}

.datasets .grid .item .caption{
    width: 100%;
    background-color: #fff;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.actions{
    display: flex;
    justify-content: center;
    max-height: 91px;
}

.actions *{
    z-index: 4;
    visibility: visible;
    opacity: 1;
}

.actions .action{
    padding: 2px;
    padding-bottom: 6px;
    border: none;
    background-color: #64B5F6;
    flex: 1;
    text-align: center;
}

/* Active datasets */
.active-dataset{
    margin-top: 16vh;
}

.active-dataset .grid .item:hover{
    cursor: pointer;
    background-color: #2980b9;
}

.active-dataset .grid .item{
    width: 20vw;
    text-align: center;
    background-color: #3498db;/*#0CB4DA;*/
    flex: 1;
    margin: 0px 20px 0px 0px;
}

.active-dataset .grid .item:nth-child(2){
    margin: 0px 0px 0px 0px;
}

.active-dataset .grid .item .caption{
    width: 100%;
    background-color: #fff;
}

.close-active-dataset{
    float: right;
}
.close-active-dataset:hover{
    cursor: pointer;
}
.active-dataset .grid.summary .item:hover{
    cursor: default;
}

.active-dataset .grid.summary .item:nth-child(2){
    margin: 0px 20px 0px 0px;
}

.active-dataset .grid.summary .item:nth-child(3){
    margin: 0px 0px 0px 0px;
}

.active-dataset .grid.summary .item .icon{
    color: #fff;
}

.trendHistory{
    padding: 16px;
}

.viewData{
    padding: 16px;
}

/* Upload modal */
.uploader{
    border-radius: 0;
    width: 40vw;
    margin: auto;
    margin-top: 2vh;
}

.uploader .glyphicon{
    float: left;
    inline: block;
    margin-top: 2.5vh;
}

.uploader .headingContainer{
    margin-left: 2vw;
}

.uploader .modal-title{
    margin-top: 1.5vh;
}

.uploader .btn{
    border-radius: 0;
    background-color: #3498db;
    color: white;
    height: 8vh;
    width: 15vw;
    float: right;
    margin: -8vh 0 0 0;
    z-index: 4;
}

.uploader .uploadInput{
    height: 8vh;
    width: 15vw;
    background-color: #3498db;
    color: white;
    text-align: center;
}

.uploader .uploadInput span{
    margin-top: 2.5vh;
    position: absolute;
    width: 15vw;
    margin-left: -7.3vw;

}

.uploader .uploadBtn{
    opacity: 0;
    position: relative;
    z-index: 2;
    height: 8vh;
    width: 15vw;
}

.uploader .panel-body{
    border-radius: 0;
}

.uploader .progress{
    line-height: 15px;
}

.uploader .progress div {
    font-size: smaller;
    background: #3498db;
    width: 0;
    color: white;
}

.uploader .progressBar {
    margin-top: 2vh; 
}

.uploader .progressBar {
    margin-top: 2vh; 
}

/* Explore */
.explorer{
    margin-top: 16vh;
}

.search-box{
    float: right;
    margin: -10vh 1.5vw 0 0;
    min-width: 20vw;
    height: 10vh;
    max-width: 22vw;
    max-height: 10vh;
    background-color: #3498db;
    padding-left: 2vh;
    padding-right: 1vh;
}

.search-box:hover, .search-box:hover *{
    background-color: #64B5F6;
}

.search-icon{
    background-image: url('media/icons/s_w_36.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 1vh;
    min-width: 2vw;
    height: 8vh;
    max-width: 2vw;
    max-height: 8vh;
    float: left;
}

.search-input input:hover,.search-input input:focus{
    outline: none;
    border: none;
}

.search-input{
    margin-left: 1.5vh;
    min-width: 15.4vw;
    height: 8.5vh;
    max-width: 15.4vw;
    max-height: 8.5vh;
    float: left;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: inherit;
    padding: 0;
}

.search-input input{
    margin-top: 1vh;
    min-width: 15.4vw;
    height: 7vh;
    max-width: 15.4vw;
    max-height: 7vh;
    border: none;
    font-size: 4vh;
    color: #fff;
    background-color: inherit;
}


.explorer .grid {
    clear: both;
}

.explorer .grid .item:hover{
    cursor: pointer;
    background-color: #2980b9;
}

.explorer .grid .item{
    min-width: calc(100% * (1/3) - 10px - 1px);
    max-height: 150px;
    text-align: center;
    background-color: #3498db;/*#0CB4DA;*/
    flex: 1;
    margin: 0px 20px 0px 0px;
}
.explorer .grid .item .icon{
    margin: 0px 0px 10px 0px;
}

.explorer .grid .item .caption{
    width: 100%;
    background-color: #fff;
}

.scroller {
    margin-right: auto;
    margin-left: auto;
    overflow-x: scroll;

    width: 60vw;
    height: 25vh;
}

.stats {
    margin-top: 10vh;
}

.stats .grid .item:hover{
    cursor: pointer;
    background-color: #2980b9;
}

.stats .grid .item{
    min-width: 200px;
    text-align: center;
    background-color: #3498db;/*#0CB4DA;*/
    flex: 1;
    margin: 0px 20px 0px 0px;
}

.stats .grid .item .caption{
    background-color: #fff;
}


.customScrollBar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.customScrollBar::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.customScrollBar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #1565c0;
}

.chart-container {
    width: 60vw;
    height: 35vh;
    margin-right: auto;
    margin-left: auto;
}

/*Data Tools */
.datatools {
    margin-top: 16vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Raleway", sans-serif;
}

.datatools h1 {
    font-size: 60px;
    font-weight: 300;
    color: #455a64;
}

.datatools .dataSentence {
    margin-top: 10vh;
    color: white;
    font-size: 45px;
}

.datatools .selectionLists{
    display: none;
}

/*.dataToolsContainer {
    background-color: #99FFFF;
}*/

.datatools .listClosed {
    display: none;
}

.datatools ul {
    list-style-type: none;
}

.datatools .listOpen {
    display: visible;
}

.datatools li {
    background-color: #ff7043;
    color : white;
}

.attributeList {
    width: 500px;
}

.datatools .inbox {
    position: relative;
    z-index: 100;

    max-width: 23vw;
    margin: 50px auto;
    background: #ff7043;
    border-radius: 0;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
    font-family: Raleway;
    height: 50vh;
    overflow-y: scroll;
    margin-top: -25vh;
}

.datatools .item {
    display: flex;
    align-items:center;
    border-bottom: 1px solid #F1F1F1;
    border: none;
}

.datatools .item:last-child {
    border-bottom:0;
}


.datatools input:checked + p {
    text-decoration: line-through;
}

.datatools input[type="checkbox"] {
    margin:20px;
}

.datatools .attributeItem {
    margin:0;
    padding:20px;
    transition:background 0.2s;
    flex:1;
    font-size: 25px;
    font-weight: 200;
    border-left: 1px solid #D1E2FF;
    color: #fff;
}

.datatools .details {
    text-align: center;
    font-size: 15px;
}

.datatools .standOut {
    display: inline-block;
    border: none;
    border-bottom: 2px dashed;
}

.datatools a {
    text-decoration: none;
}

.datatools a: hover {
    /**/
}

.datatools .acceptAttributes *{
    background-color: #455a64;
    border: none;
    position: fixed;
    margin-top: -54.1vh;
    width: 23vw;
    max-width: 23vw;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
}

#fullOK {
    width: 99%;
    background-color: #455a64;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
}

.datatools .dataToolsDatasetList {
    position: relative;
    z-index: 100;

    background: #ff7043;
    border-radius: 0;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
    font-family: Raleway;
    overflow-y: auto;
    margin-top: -20vh;
    max-height: 50vh;
    max-width: 23vw;
    margin: auto;
    background-color: #ff7043;
}

.datatools .dataToolsAlgorithmList {
    position: relative;
    z-index: 100;

    max-width:23vw;
    margin:50px auto;
    background: #ff7043;
    border-radius:0;
    box-shadow:10px 10px 0 rgba(0,0,0,0.1);
    font-family: Raleway;
    max-height: 50vh;
    overflow-y: auto;
    margin-top: -20vh;
}

.dataTools .plainText {
    margin-top: 10vh;
    color: white;
    font-size: 45px;
}

.dataTools .dataHolder {
    margin-top: 90vh;
    position: relative;
}
