<div class="container-fluid">
    <nav class="w3-card-2 navbar navbar-default navbar-fixed-top" ng-include="'views/nav.html'"></nav>
    <div class="dashboard w3-animate-top">

        <div ng-if = "currentUserType == 'jobSeeker'">
            <br/>
            <h3 style = "text-align: center;">Available jobs</h3>
            <h6 style = "text-align: center;"><i>Matched according to your skillset</i></h6>
            <center>
                <div class="grid">
                    <div class="item w3-card-4" ng-repeat = "j in jobs" ng-click="prioritizeJob(j)">
                        <div class="caption">
                            <span>{{j.name}}</span>
                        </div>
                        <div class="icon" style = "background: #3498db; color: white; text-align: left;">
                            <span><b>Company:</b><br/> {{j.company}}</span>
                            <br/>
                            <span><b>Pay:</b><br/> {{j.pay}}</span>
                            <br/>
                            <span><b>Description:</b><br/> {{j.desc}}</span>
                        </div>
                    </div>
                    <br/>
                    <br/>
                </div>
            </center>
        </div>
    
        <div ng-if = "currentUserType == 'jobProvider'">
            <br/>
            <h3 style = "text-align: center;">Available candidates</h3>
            <h6 style = "text-align: center;"><i>Matched according to your job criteria</i></h6>
            <center>
                <div class="grid">
                    <div class="item w3-card-4" ng-repeat = "w in workers" ng-click="prioritizeCand(w)">
                        <div class="caption">
                            <span>{{w.candidate}}</span>
                        </div>
                        <div class="icon" style = "background: #3498db; color: white; text-align: left;">
                            <center>
                                <img src="{{w.profile}}" style = "height: 10vh; max-height: 10vh; width: auto;" />
                            </center>
                            <br/>
                            <span><b>Job:</b><br/> {{w.jobApply}}</span>
                            <br/>
                        </div>
                    </div>
                    <br/>
                    <br/>
                </div>
            </center>
        </div>

    </div>
</div>
