  <nav>
    <div class="nav-wrapper blue lighten-5">
      <a href="generation-portal.html" class="brand-logo"><img src="../img/generation-logo.svg" style="padding-left:100px;"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
            <div class="fixed-action-btn horizontal click-to-toggle">
                <a class="btn-floating btn-large blue">
                    <i class="material-icons">chat_bubble</i>
                </a>
          </div>
      </ul>
    </div>
  </nav>