<div class="container-fluid" style = "overflow-y: hidden;">
    <nav class="w3-card-2 navbar navbar-default navbar-fixed-top" ng-include="'views/nav.html'"></nav>
    
    <div ng-if = "currentUserType == 'jobSeeker'">
        <div class="dashboard w3-animate-top" ng-repeat = "j in jobs" >
            <h4 style = "text-align: center;">Job Matches:</h4>
            <h6 style = "text-align: center;"><i>Tap like to Accept or dislike to Decline</i></h6>
            <center>
                <div class = "swiperCard">
                    <div class = "title">
                        <br/>
                        <h5>{{j.name}}</h5>
                    </div>
                    <div class = "banner">
                        <img src="{{j.logo}}" style = "height: 100%; width: auto;" />
                    </div>
                    <div class = "info">
                        <br/>
                        <span>Company: {{j.company}}</span>
                        <br/>
                        <br/>
                        <span>Salary: {{j.pay}}</span>
                        <br/>
                        <br/>
                        <span>Description: {{j.desc}}</span>
                    </div>
                    <div class = "buttons">
                        <a class="btn" style = "background-color: #D52D2D;" ng-click = "removeFromJobs(j)"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
                        <a class="btn" style = "background-color: #ffa500;" ng-click = "undoRemove()"><i class="fa fa-undo" aria-hidden="true"></i></a>
                        <a class="btn" style = "background-color: #3B5998;" ng-click = ""><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                    </div>
                </div>
            </center>
        </div>
    </div>

    <div ng-if = "currentUserType == 'jobProvider'">
        <div class="dashboard w3-animate-top" ng-repeat = "w in workers" >
            <h4 style = "text-align: center;">Candidate Matches:</h4>
            <h6 style = "text-align: center;"><i>Tap like to Accept or dislike to Decline</i></h6>
            <center>
                <div class = "swiperCard">
                    <div class = "title">
                        <br/>
                        <h5>{{w.candidate}}</h5>
                    </div>
                    <img src="{{w.profile}}" style = "height: 20vh; max-height: 20vh; width: auto;" />
                    <div class = "info">
                        <br/>
                        <span>Job applying for: {{w.jobApply}}</span>
                        <br/>
                        <br/>
                        <span>Skills: {{w.skill}}</span>
                        <br/>
                        <br/>
                        <span>Address: {{w.address}}</span>
                    </div>
                    <div class = "buttons">
                        <a class="btn" style = "background-color: #D52D2D;" ng-click = "removeFromCand(w)"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
                        <a class="btn" style = "background-color: #ffa500;" ng-click = "undoRemoveCand()"><i class="fa fa-undo" aria-hidden="true"></i></a>
                        <a class="btn" style = "background-color: #3B5998;" ng-click = ""><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                    </div>
                </div>
            </center>
        </div>
    </div>

</div>