<div class="container-fluid">
    <nav class="w3-card-2 navbar navbar-default navbar-fixed-top" ng-include="'views/nav.html'"></nav>
    
    <div class="dashboard w3-animate-top">
        <h2 style = "text-align: center;">Job Match</h2>
        <h6 style = "text-align: center;"><i>Swipe Left to Accept or Left to Decline</i></h6>
        <center>
            <div class="grid">

                <div class="item w3-card-4" ng-click="goRouteTo('/my_datasets');" ng-repeat = "j in jobs">
                    <div class="caption">
                        <span>{{j.name}}</span>
                    </div>
                    <div class="icon" style = "background: #3498db; color: white; text-align: left;">
                        <span><b>Company:</b><br/> {{j.company}}</span>
                        <br/>
                        <span><b>Pay:</b><br/> {{j.pay}}</span>
                        <br/>
                        <span><b>Description:</b><br/> {{j.desc}}</span>
                    </div>
                    
                </div>
                
            </div>
            <div class="card-action">
                <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
        </center>

        <div class="additionalInfo">

</div>
