<div id="fb-root"></div>
<div class="container-fluid">
    <div class="container registerLogin w3-animate-bottom" style="margin-top: 30vh;">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default w3-card-4">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Login</h3>
                    </div>
                    <div class="panel-body">
                        <form ng-submit="submit();">
                            <div class="form-group">
                                <input class="form-control" id="email" placeholder="E-mail" name="email" type="email" autofocus ng-model="email">
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="password" placeholder="Password" name="password" type="password" value="" ng-model="password">
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <input type="submit" value="Login" class="btn btn-block" />

                        </form>
                        <p></p>

                        <div class="fb-login-button " data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true" onlogin="checkLoginState('s');"></div>
                        <div class="switch">
                            <a href="/#/register">Don't have an account?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId: '209464939593623',
            cookie: true,
            xfbml: true,
            version: 'v2.10'
        });

        FB.AppEvents.logPageView();

    };

    function reload() {
        window.location.replace("#/dashboard");
    }

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function redirectOnConnected(response) {
        console.log('redirectOnConnected');
        console.log(response);
        if (response.status === 'connected') {
            // Logged into your app and Facebook.
            window.location.replace("#/dashboard");
        } else {
            // The person is not logged into your app or we are unable to tell.
            window.location.replace("#/dashboard");
            console.log("Not logged in")
        }
    }

    function checkLoginState(profileType) {
        loginBypassType = profileType;

        setTimeout(reload, 1000);

        FB.getLoginStatus(function(response) {
            console.log("get login check state");
            redirectOnConnected(response);
            window.location.replace("#/dashboard");
        });
    }

    FB.getLoginStatus(function(response) {
        redirectOnConnected(response);
        console.log("get login status");
        window.location.replace("#/dashboard");
    });
</script>
-->