<div class="container-fluid">
	<div class="container registerLogin w3-animate-bottom">
		<div class="row">
	        <div class="col-md-4 col-md-offset-4">
	            <div class="login-panel panel panel-default w3-card-4">
	                <div class="panel-heading">
	                    <h3 class="panel-title">Please Register</h3>
	                </div>
	                <div class="panel-body">
	                    <form name="frmRegister" ng-submit="submit()">
                            <!--div class="form-group">
                                <input class="form-control" id = "uName" placeholder="Name" name="uName" type="string" value="" ng-model="name">
                            </div-->
                             <div class="group">      
							      <input id = "uName" type="text" required placeholder="Name" name="uName" ng-model="uName">
							      <span class="highlight"></span>
							      <span class="bar"></span>
							    </div>
							     <div class="group">      
							      <input id = "uSurname" type="text" required placeholder="Surname" name="uSurname" ng-mode ="surname" >
							      <span class="highlight"></span>
							      <span class="bar"></span>
							    </div>
                            <div class="form-group">
                                <input class="form-control" id = "email" placeholder="E-mail" name="email" type="email"  ng-model="email">
                            </div>
                            <div class="form-group">
                           <select class="browser-default" ng-click ="setCountrySelected()" id="selectCountry" class="form-control" name="country">
									<option value="">Country...</option>
								 	<option  value="">india</option>
								 	<option  value="">kenya</option>
								 	<option  value="">mexico</option>
								 	<option  value="">spain</option>
								 	<option  value="">usa</option>
							</select>

							</div>

							<div class="form-group" ng-if="isCountrySelected()">
                           	<select  id="selectCountr" class="form-control" name="country">
								<option ng-repeat="i in arr"> {{i}} </option>
							</select>
							
							</div>
							 <div class="form-group">
							      <label for="About">Tell Us More About yourself:</label>
							      <textarea class="form-control" rows="5" id="About"></textarea>
							    </div>

                            <div class="form-group">
                                <input class="form-control" id = "password" placeholder="Password" name="password" type="password" value="" ng-model="password">
                            </div>

                             <div class="form-group">
                               <!--<input class="form-control" id = "Confirm_Password" placeholder="Cornfirm Password" name="password" type="password" value="" ng-model="password"-->
                                <input class="form-control" id ="Confirm_Password" type="password" placeholder="Confirm Password" required ng-model="Confirm_Password">
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <input type="submit" value = "Register" class="btn btn-block" />
	                    </form>
	                    <div class="switch">
	                    	<a href="/#/login">Already have an account?</a>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div> 
</div>


